<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STORM API</title>
    <style type="text/css">
        body,
        html {
            padding: 0;
            margin: 0;
            height: 100vh;
            width: 100vw;
            background-color: #fdf2e9;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
        }

        .title {
            color: #096ceeb3;
            font-weight: bold;
            font-size: 80px;
            font-family: Serif;
        }
    </style>
</head>

<body>
    <div class="card">
        <div class="title">CYBER STORM API</div>
    </div>
</body>

</html>